{% extends 'base.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}

{% block content %}
<body>
    <div class="jamani">

        <p>Filter images</p>
        <p>Image Count: {{all_images|length}}</p>
        <div class="filter-section">
            <div class="filter-icons">
                <img src="{% static 'assets/filter-jug.svg' %}" alt="">
                <img src="{% static 'assets/filter-settings.svg' %}" alt="">
            </div>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="Collections-Dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Collections
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="Collections-Dropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="Tags-Dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Tags
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="Tags-Dropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="Bouquet-type-Dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Bouquet Type
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="Bouquet-type-Dropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="Colors-Dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Colors
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="Colors-Dropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

        <br><br>
        
        <div class="all-images" style="display: flex; justify-content: space-between; align-items: left;">
        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-3">
            {% for image in all_images %}
            <div class="col">
              <div class="card">
                <img src="{{image.image.url}}" class="card-img-top" alt="..." style="max-height: 150px; object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'picha' image.id %}">{{image.name}}</a></h5>
                </div>
              </div>
            </div>
              {% endfor %}
        </div>

        <div class="selected-image">
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1">
                <div class="col">
                  <div class="card">
                    <div class="card-header">Selected Image Preview</div>
                    <img src="{% static 'assets/Assorted.png' %}" class="card-img-top" alt="..." style="max-height: 150px; object-fit: cover;">
                    <h5 class="card-title">{{image.name}}</h5>
                    <div class="card-body">
                        <h6><img src="{% static 'assets/collections-icon.svg' %}" alt=""> Collections</h6>
                        <div class="list-of-pills">
                            <p>funeral flowers</p>
                            <p>hand bouquets</p>    
                            <p>wreaths</p>    
                            <p>lettered</p>    
                            <p>white</p>    
                        </div>
                        <br>
                        <h6><img src="{% static 'assets/tags-icon.svg' %}" alt=""> Tags</h6>
                        <div class="list-of-pills">
                            <p>funeral flowers</p>
                            <p>hand bouquets</p>    
                            <p>wreaths</p>    
                            <p>lettered</p>    
                            <p>white</p>    
                        </div>
                        <br>
                        <h6><img src="{% static 'assets/flower-types-icon.svg' %}" alt=""> Flower types</h6>
                        <div class="list-of-pills">
                            <p>funeral flowers</p>
                            <p>hand bouquets</p>    
                            <p>wreaths</p>    
                            <p>lettered</p>    
                            <p>white</p>    
                        </div>      
                        <br>
                        <h6><img src="{% static 'assets/website-icon.svg' %}" alt=""> Website Details</h6>
                            <p><strong>Added to website?: </strong>Yes</p>
                            <div class="site-stuff">
                                <a href="https://simonaflowers.com/product/mothers-mug" id="website-details-link" class="d-inline-block text-truncate">https://simonaflowers.com/product/mothers-mug</a>
                                <img src="{% static 'assets/external-website-link-icon.svg' %}" alt="">
                            </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
    
{% endblock content %}


